@import "reset.css";

@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Caveat&family=Comfortaa:wght@300&family=Courgette&family=Chilanka&family=Kalam:wght@300&family=Roboto+Condensed:wght@300&display=swap');

header {
    background: linear-gradient(180deg, #7b7777, #343232 80%) no-repeat;
    font-family:  'Akaya Kanadaka', 'Caveat',  'Comfortaa', 'Courgette', cursive;
    color: #585757;
}

header img{
    width: 4.5rem;
}

html{
    font-size: 16px;
}

img{
    box-shadow: #73787b 2px 2px 4px;
}

#nasim{
    color: #6f8b3d;
    text-shadow: 0px 0px 1px hotpink, 1px 1px 2px #28b46e;
}


.box {
    box-shadow:
            0 2.8px 2.2px rgba(0,0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
    background: white;
    margin: 1.5rem auto 3rem;
    border-radius: 5px;
}


.fab {
    color: #494645;
    font-size: 1.3rem;
    transition: transform .3s .2s;
    cursor: pointer;
    margin: 0 2px;
}

.fab:hover {
    color: goldenrod;
    transform: scale(1.2, 1.2);
}

p{
    line-height: 1.5;
    font-family:  'Roboto Condensed', sans-serif;
}

.text-secondary-n{
    color: #5c5b5b;
}




.btn{
    transition: all 500ms;
    font-family:  'Akaya Kanadaka', 'Caveat',  'Comfortaa', 'Courgette', cursive;
}
.btn:hover{
    letter-spacing: 2px;
}
.text-dark-n, .text-dark-n:hover{
    color: #111111;
}

#story-btn{
    background-color: #f53796;
    box-shadow: inset -3px -3px 8px #950654, inset 0px 0px 4px whitesmoke;
}

#edu-btn{
    background-color: lawngreen;
    box-shadow: inset -3px -3px 8px #56ad02, inset 0px 0px 4px whitesmoke;
}
#skills-btn{
    background-color: #00ffff ;
    box-shadow: inset -3px -3px 8px #038080, inset 0px 0px 4px whitesmoke;
}
#resume-btn{
    background-color:  #f1f106;
    box-shadow: inset -3px -3px 8px #bdbd03, inset 1px 1px 2px white;
}

#story-btn:hover{
    background-color: #fd5bac;
    box-shadow: inset -3px -3px 8px #fa49a2, inset 1px 1px 1px rgba(0,0,0,.2);
}

#edu-btn:hover{
    background-color: #99fa3b;
    box-shadow: inset -3px -3px 8px #92f830, inset 1px 1px 1px rgba(0,0,0,.2);
}
#skills-btn:hover{
    background-color: #78f6f6;
    box-shadow: inset -3px -3px 8px #4af3f3;
}
#resume-btn:hover{
    background-color: #f5f544;
    box-shadow: inset -3px -3px 8px #f3f32c, inset 1px 1px 1px whitesmoke;
}
.table {
    margin: auto;
    /*outline: #002752 solid;*/
}



#story h3, #edu th,  #skills h3, #skills h4{
    font: 2rem 'Akaya Kanadaka', 'Caveat',  'Comfortaa', 'Courgette', cursive;
}

#story h3 {
    color: hotpink;
}

#edu th{
    color: lawngreen;
}

#skills h3, #skills .h4{
    color: #04d4d4;
}

.fa-play{
    transition: all 500ms ease-in-out;
    color: #00E676;
    margin-right: 0.6rem;
    font-size: 0.8rem;
}

.list-group-item:hover .fa-play{
 color: #fa5c5c;
    font-size: 1rem;
}
.list-group-item:hover a:hover{
    text-decoration: none;
    color:inherit;
}

footer{
    width: 70vw;
    /*border-top: #beee6c solid 1px;*/
    bottom: 0;
}




/*---------------------------------------------------- Media */

@media screen and (max-width: 576px) {
    html{
        font-size: 13px;
    }

    .h2 {
        font-size: 1.3rem;
    }

    .h4 {
        font-size: 1.1rem;
    }

    .h5 {
        font-size: 1rem;
    }

    #nasim{
        color: #7b9a44;
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
    html{
        font-size: 15px;
    }

    .h2 {
        font-size: 1.3rem;
    }

    .h4 {
        font-size: 1.1rem;
    }

    .h5 {
        font-size: 1rem;
    }

}


@media screen and (min-width: 768px) and (max-width: 992px){

}


@media screen and (min-width: 992px) {

    .table {
        width: 80%;
    }

}